@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin-left: 1rem;
  margin-right: 1rem;
  background-color: #2F303A;
  font-family: Poppins, sans-serif;
  font-size: 1.2rem;
  color: white;
  min-height: 100vh;
}

.full-height-grow {
  display: flex;
  flex-direction: column;
}

.main-nav a {
  color: inherit;
  text-decoration: none;
  padding: 0.7rem;
}

.main-header a {
  color: inherit;
  text-decoration: none;
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 40px;
}

.lottery-main-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
}

.lottery-form {
  background-color: #202027;
  width: 40vw;
  max-width: 40%;
  padding: 2rem 4rem;
  border-radius: 20px;
}

.input-group {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
}

.input-group:last-child {
  margin-bottom: 0;
}

.input-group label {
  font-weight: bold;
  margin-bottom: .5rem;
}

.input-group input {
  outline: none;
  background: none;
  border: 1px solid #374669;
  font-size: 1em;
  padding: .5em;
  color: inherit;
  border-radius: 5px;
}

.input-group input:focus {
  border-color: #596da0;
}

@media (max-width: 900px) {
  .lottery-main-section {
    flex-direction: column;
    justify-content: center;
  }

  .lottery-form {
    width: 70vw;
    max-width: inherit;
    margin: 2rem 0;
  }
}

.reminderMsg {
  font-size: 0.85rem;
  margin-bottom: -1rem;
  margin-top: 0.5rem;
}

.btn {
  color: white;
  background-color: #1762A7;
  padding: .75rem 1.5rem;
  border-radius: .5rem;
  text-decoration: none;
  font-size: .9rem;
  outline: none;
  border: none;
  cursor: pointer;
}

.btn:hover {
  background-color: #2180d8;
}

.btn:focus {
  background-color: #2796ff;
}

.plus-minus {
  display: flex;
  justify-content: space-between;
}

.plus-button {
  margin-bottom: 0;
  color: white;
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
  text-decoration: none;
  font-size: 1.4rem;
}

.minus-button {
  margin-bottom: 0;
  color: white;
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
  text-decoration: none;
  font-size: 1.4rem;
}

.price-msg {
  margin: 0;
}

.timer {
  margin-top: 0.3rem;
}

.container-main-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.number-btn {
  color: black;
  background-color: white;
  height: 39px;
  width: 39px;
  margin-right: -0.25rem;
  margin-left: -0.25rem;
  border-radius: .2rem;
  text-decoration: none;
  font-size: .9rem;
  font-weight: 700;
  outline: none;
  border: none;
  cursor: pointer;
}

@media (max-width: 900px) {
  .number-btn {
    height: 33px;
    width: 33px;
  }
}

.table-container {
  display: block;
  margin: 1.5em auto;
  width: 90%;
  max-width: 800px;
  min-width: 380px;
}

.flex-table {
  display: flex;
  flex-flow: row wrap;
  transition: 0.5s;
  border: solid 2px #d9d9d9;
}

.flex-row {
  width: calc(100% / 10);
  text-align: center;
  padding: 0.4em 0.3em;
}

.rowspan {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: center;
}

.column {
  display: flex;
  flex-flow: column wrap;
  width: 75%;
  padding: 0;
}

.column .flex-row {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  padding: 0;
  border: 0;
}

.flex-cell {
  width: calc(100% / 3);
  text-align: center;
  padding: 0.3em 0.3em;
}

.quote {
  margin-top: -0.7rem;
  font-size: 0.9rem;
}
